<div class="text-center">
	<h1>Editar Anúncio</h1>

	<%= render 'form', ad: @ad %>

	<%= link_to 'Show', @ad, :class =>"btn btn-outline-primary" %>
	<%= link_to 'Back', ads_path, :class =>"btn btn-outline-secondary" %>
</div>